In [ ]:
import pandas as pd

# 1. Ler o arquivo CSV
file_path = "TestPad_PCB_XYRGB_V2.csv"  # Substitua pelo caminho correto
df = pd.read_csv(file_path, sep=';', engine='python', encoding='utf-8')

# 2. Verificar a importação dos dados
print("Informações gerais:")
print(df.info())
print("\nPrimeiras linhas:")
print(df.head())
print("\nÚltimas linhas:")
print(df.tail())

# 3. Criar uma cópia do dataframe
clean_df = df.copy()

# 4. Substituir valores nulos na coluna 'Calories' por 0
clean_df['Calories'] = clean_df['Calories'].fillna(0)
print("\nApós substituição de valores nulos em Calories:")
print(clean_df.head())

# 5. Substituir valores nulos na coluna 'Date' por '1900/01/01'
clean_df['Date'] = clean_df['Date'].fillna('1900/01/01')
print("\nApós substituição de valores nulos em Date:")
print(clean_df.head())

# 6. Transformar a coluna 'Date' para datetime
try:
    clean_df['Date'] = pd.to_datetime(clean_df['Date'], format='%Y/%m/%d')
except Exception as e:
    print("Erro ao converter Date para datetime:", e)

# 7. Substituir '1900/01/01' por NaN
clean_df['Date'] = clean_df['Date'].replace('1900/01/01', pd.NA)

# 8. Tentar novamente a conversão para datetime
clean_df['Date'] = pd.to_datetime(clean_df['Date'], errors='coerce')
print("\nApós conversão de Date para datetime:")
print(clean_df.head())

# 9. Corrigir valores errados como '20201226'
clean_df['Date'] = clean_df['Date'].astype(str).str.replace('20201226', '2020/12/26')
clean_df['Date'] = pd.to_datetime(clean_df['Date'], errors='coerce')
print("\nApós corrigir 20201226 para formato correto:")
print(clean_df.head())

# 10. Remover registros com valores nulos na coluna 'Date'
clean_df.dropna(subset=['Date'], inplace=True)

# 11. Exibir o dataframe final
print("\nDataFrame final após todas as transformações:")
print(clean_df.info())
print(clean_df.head())

     X  Y         R         G         B  Grey
0  105  0  0.909804  0.976471  0.937255     0
1  106  0  0.792157  0.901961  0.843137     0
2  107  0  0.631373  0.788235  0.694118     0
3  108  0  0.474510  0.670588  0.556863     0
4  109  0  0.341176  0.584314  0.439216     0